h1 {
    text-align: center;
}

body{

    background-color: rgb(225, 237, 238);
    padding:0;
    margin:0;

}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(204, 163, 236);
  }
  
.nav li {
    float: left;
    padding:0;
  }
  
.nav li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .nav li a.active{

      background-color: rgb(255, 255, 255);

  }
  
  .nav li a:hover {
    background-color: rgb(255, 255, 255);
    text-decoration: underline;
  }

/*
Login page
*/
  
.logInForm {
  padding-top: 2%;
  text-align: center;
}


