[Unit]
# Give description of the service
Description=Quark developer database service

# Documentation link
Documentation=http://quark.rocks/about

# What this service depends on running before starting
After=network.target
After=docker.service

[Service]

# Tell systemd to prevent dropping user privs
Type=simple

# User this service will act under
User=github

# Preparation functions to run
ExecStartPre=/usr/bin/docker pull postgres

# Command to run and monitor
ExecStart=/usr/local/bin/quark-db-dev.sh

# When to restart the service
Restart=on-failure

[Install]
# Tell systemd how to handle on boot
WantedBy=multi-user.target