[Unit]
# Give description of the service
Description=Quark web service
# Documentation link
Documentation=http://quark.rocks/about
# What this service depends on running before starting
After=network.target

[Service]
# Set environment variables
Environment=NODE_PORT=4000
# Tell systemd to prevent dropping user privs
Type=simple
# User this service will act under
User=github
# Command to run and monitor
ExecStart=/usr/bin/node /var/www/quark/dev/web/api/server.js
# When to restart the service
Restart=on-failure

[Install]
# Tell systemd how to handle on boot
WantedBy=multi-user.target