@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

* {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

:root {
    /* General Palet */
    --white: #f8f8f8;
    --light: #f2f2f2;
    --dark: #020202;
    --black: #000;

    --dark-gray: #1b1b1b;
    --gray: #343434;
    --light-gray: #8d8d8d;

    --primary-color: #2086f2;
    --secondary-color: #58a0cc;

    --max-width: 100%;
    --global-padding: 16px;
    --gutter: 16px;
}

html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body {
    background-color: var(--dark-gray);
    color: #f2f2f2;
    min-height: 100%;
    grid-template-columns: 1fr;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    min-width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

.container {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
}

.content {
    padding: 20px;
    width: calc(100% - 40px);
    max-width: calc(var(--max-width) - 40px);
    margin: 0 auto;
}

footer {
    text-align: center;
    color: var(--light-gray);
}